export(calcMedians)
export(calcPvalues)
export(calcScore)
export(calcSummary)
export(correctBatchEffect)
export(countValuesToPredict)
export(findWrongValues)
export(BEclear)
export(makeBoxplot)
export(clearBEgenes)
export(replaceWrongValues)
import(snowfall)
import(Matrix)
